.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* This ensures the image covers the container while maintaining aspect ratio */
}

.carousel {
  max-height: 95vh;
  /* Adjust the height as needed */
  overflow: hidden;
}